EJERCICIO 1
<br><br>
<br><br>
Edad 1:<input type="number" name="Edad 1" [(ngModel)]="edadUno">

<br><br>

Edad 2:<input type="number" name="Edad 2" [(ngModel)]="edadDos">

<br><br><br>

<button class="btn btn-block btn-success mb-2" (click)="calcular()">Calcular</button>

<br><br><br>

<button class="btn btn-block btn-success mb-2" (click)="limpiar()">Limpiar cuadro de texto</button>

<br><br>

Suma: <input type="text" name="suma"  [(ngModel)]="resultadoSuma">

<br><br>

Promedio: <input type="text" name="promedio" [(ngModel)]="resultadoPromedio">